.home-container {
  width: 100vw;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.1)),
    url("../../images/home3.jpg");
  background-position: center top;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.title {
  font-size: 5em;
  font-weight: 700;
}

.home-link {
  font-size: 1.2rem;
  border-bottom: 1px solid #18E1D9;
}
